body {
    background: lightgray;
    font-family: 'Arial', 'san-serif';
    font-size: 12px;
    width: 800px;
    margin: auto;
}

.container-white {
    background: white;
    margin: 40px 0px 10px 0px;
}

.container-black {
    background: black;
    color:white;
}

#headline {
    padding: 0px 20px 20px;
}

.title {
    font-family: 'Tangerine', 'serif';
    font-size: 82px;
    color: dimgray;
}

#sub-head {
    font-size: 32px;
    width:70%; 
    vertical-align:middle
}

.content {
    font-size: 18px;
}

.content table {
    width: 100%;
}

.content td {
    width: 50%;
    height: 250px;
    text-align: center;
    border: 1px solid white;
}

.content p {
    padding: 20px;
}

@supports (-webkit-text-stroke: 1px white) {
    .content h1 {
        cursor: pointer;
        font-size: 36px;
        -webkit-text-stroke: 1px white;
        -webkit-text-fill-color: black;
    }
  }